.main__list ul {
  margin-left: 30px;
}

.main {
  grid-column-start: 3;
  grid-column-end: 10;
  background-color: rgba(245, 245, 245, 10);
  margin-bottom: 1000px;
  padding: 10px 10px;
}

.main__2 {
  grid-column-start: 1;
  grid-column-end: 10;
  margin-bottom: 1000px;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.main__h2 {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: rgba(169, 169, 169, 0.7);
  border-radius: 3px;
}

.main__title-1 {
  font-size: 20px;
  padding: 20px 50px;
  font-weight: bold;
  background-color: rgba(139, 190, 27, 0.4);
  border-radius: 3px;
}

.main__title-2 {
  font-size: 20px;
  padding: 10px;
  font-weight: 400;
  background-color: rgba(195, 176, 145, 0.7);
  border-radius: 3px;
}

.main__subtitle-1 {
  font-size: 20px;
  padding: 10px;
  line-height: 23px;
  background-color: rgba(210, 180, 140, 0.5);
  border: 1px solid rgba(192, 192, 192, 0.4);
  border-radius: 3px;
}

.main__p {
  /* display: flex; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  font-size: 20px;
  padding: 10px;
  line-height: 23px;
}

.strong {
  font-weight: 600;
}

.main__link {
  color: #000;
  text-decoration: none;
}

.main__link:hover {
  color: red;
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 50px;
  list-style: none;
  font-size: 20px;
  padding: 20px 0;
}

.main__list-item {
  list-style-position: inside;
  list-style-type: square;
  line-height: 25px;
  font-size: 20px;
}

.main__list-link {
  color: #000;
  text-decoration: none;
}

.main__list-link:hover {
  color: red;
}

.main__link {
  color: #000;
  text-decoration: none;
}

.main__link:hover {
  color: red;
  text-decoration: none;
}

.code__block-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  grid-auto-flow: row dense;
}

.code__block-code {
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 10px;
  line-height: 25px;
  font-size: 19px;
  background-color: rgba(229, 228, 226, 0.3);
  border-radius: 3px;
  border: 1px solid rgba(192, 192, 192, 0.4);
}

.code__block-descr {
  display: grid;
  grid-column-start: 6;
  grid-column-end: -1;
  padding: 10px;
  line-height: 25px;
  font-size: 19px;
}

.danger {
  background-color: var(--bg-color-danger);
}

.note {
  background-color: var(--bg-color-note);
}
