html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
div {
  margin: 0;
  padding: 0;
}

pre,
code {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
  background-color: rgba(52, 52, 52, 10);
  color: #fff;
}

ul {
  line-height: 23px;
}

li {
  text-decoration: none;
  list-style-position: inside;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px 10px;
}

.general__area-1 {
  border: 1px solid #c0c0c0;
  background-color: rgba(245, 245, 245, 10);
}
