.wrapper__aside-1 {
  position: fixed;
  overflow-y: scroll;
  overflow-x: scroll;
}

.aside-1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(220, 220, 220, 0.7);
  position: relative;
  top: 102px;
  width: 302px;
  min-height: 100vh;
  z-index: 0;
}

.aside-1__index-search-list {
  display: grid;
  grid-auto-flow: row;
  justify-items: start;
  align-items: start;
  justify-content: start;
  align-content: start;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
  padding: 20px 20px;
}

.aside-1__index-search-item {
  color: #000;
}

.aside-1__index-search-link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.aside-1__index-search-link:hover {
  color: #ff0000;
}
