.wrapper__aside-2 {
  position: fixed;
  overflow-y: scroll left;
  overflow-x: scroll;
  left: 1450px;
}

.aside-2 {
  display: grid;
  grid-column-start: 10;
  grid-column-end: -1;
  background-color: rgb(220, 220, 220, 0.7);
  position: relative;
  top: 102px;
  min-height: 100vh;
  width: 440px;
  z-index: 0;
}

.aside-2__index-search-list {
  display: flex;
  flex-direction: column;
  /* grid-auto-flow: row; */
  justify-items: start;
  align-items: start;
  justify-content: start;
  align-content: start;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
  padding: 20px 20px;
}

.aside-2__index-search-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #000;
  background-color: rgba(162, 205, 90, 0.5);
}

.aside-2__index-search-link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  width: 100%;
  display: block;
}

.aside-2__index-search-link:hover {
  color: #ff0000;
}
